@model CanBoSearchVM
@{
    ViewBag.Title = LanguageResource.List + LanguageResource.CanBoHNDQuaCacThoiKy.ToLower();
    string CurrentController = ConstController.CBHNDQuaCacThoiKy;
    string CurrentArea = ConstArea.NhanSu;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);

}
<div class="main-container container-fluid">
    <!-- PAGE-HEADER -->
    <div class="page-header my-2">

        <div>
            <span class="header-title">DANH SÁCH CÁN BỘ HỘI NÔNG DÂN THÀNH PHỐ QUA CÁC THỜI KỲ</span>
            <div class="rectangle">
                <span> </span>
                <span> </span>
                <span> </span>
            </div>
        </div>
       
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="splitter rounded-3">
                <div class="splitter-head">Tìm kiếm nâng cao</div>
                <div class="splitter-body">
                    <form method="get" id="frmSearch" asp-action="_Search">
                        <div class="row my-2">
                            <div class="col-md-3">
                                <label asp-for="MaCanBo"></label>
                                <input class="form-control" asp-for="MaCanBo" />
                            </div>
                            <div class="col-md-3">
                                <label asp-for="HoVaTen"></label>
                                <input class="form-control" asp-for="HoVaTen" />
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                @HtmlExtensions.SearchButton()
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card rounded-3">
                <div class="card-status bg-blue br-te-7 br-ts-7"></div>
                <div class="card-body">
                    <div class="table-responsive" id="divSearchResult"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

@section ScriptCustomized {
    <script src="~/js/canbo.js"></script>
    <script>
        //load default and set event
        $(document).ready(function () {
            HoiNongDan.SearchInitial("@CurrentUrl");
            HoiNongDan.ShowMessage(window.location.href);
        });
    </script>
}
