

.splitter {
    width: 100%;
    margin-bottom:10px;
    padding: 10px;
    background-color:white;
}

.splitter-head {
    overflow: hidden;
    text-align: left;
    font-weight: bold;
    color: #003399;
    cursor: pointer;
}

.splitter-head:after {
        left: 0.5em;
        margin-right: -50%;
        width: 100%;
}

.splitter-head::before, .splitter-head:after {
        content: "";
        display: inline-block;
        position: relative;
        vertical-align: baseline;
        border-bottom: 1px dashed #003399;
        line-height: 0.1em;
}
.splitter-body{
    padding: 10px;
    height: 0px;
    transition: all .1s ease-in-out;
    width: 100%;
    visibility: hidden;
}
.splitter-body.splitter-toggle {
        height: 100%;
        transition: all .2s ease-in-out;
        visibility: visible;
        /*animation: fade_in_show 2s inherit*/
}
.splitter-body p {
        text-align: justify;
}
/*tab-custom chỉnh tab*/
.tab-custom {
    width:auto;
    height:auto;
}
.tab-custom button {
    display: inline;
    background-color: inherit;
    color: black;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
.tab-custom > ul > li {
   line-height:30px;
}
.header-title {
    color: rgb(31, 41, 57);
    font-weight: 600;
    line-height: 34px;
    font-size: 22px
}
.header-sticky {
    position: fixed;
    right: 20px;
    z-index: 100;
}
.rectangle {
    display: flex;
}
.rectangle > span {
    display: inline-block;
    width: 30%;
    height: 5px;
    border-radius: 8px;
}
.rectangle > span:nth-child(1) {
    background: #1569B2;
}
.rectangle > span:nth-child(2) {
    background: #F27228;
    margin: 0 1px;
}
.rectangle > span:nth-child(3) {
    background: #24B24B;
}