<div class="modal fade" id="modal-userinfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header btn-primary">
                <h6 class="modal-title">THÔNG TIN NGƯỜI DÙNG</h6>
                <button aria-label="Close" class="btn-close text-white" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="content-infouser">
               
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-doimatkhau">Luu đổi mật khẩu</button>
            </div>
        </div>
    </div>
</div>