<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text-html; charset=utf-8" />

    <script type="text/javascript" src="~/charting/jscharting.js"></script>

    <script type="text/javascript" src="~/charting/types.js"></script>

    <link rel="stylesheet" type="text/css" href="~/charting/css/default.css" />

    <style>
        .department {

            max-width: 200px;
            padding: 5px;
            color: #424242;
            font-weight: normal;
        }
        .name{
            font-weight: bold;
        }

        .units {
            white-space: pre-wrap;
            width: 90px;
            max-height: 100px;
            color: #212121;
            font-weight: normal;
            text-align: center;
            font-size: 10px;
        }
            .units li {
                list-style-type: none;
                padding: 5px;
                margin: 4px 0;
                border-radius: 5px;
            }

            .units ul {
                padding: 0;
            }

            .units hr {
                border: none;
                background: white;
                width: 40px;
                height: 1px;
            }

        #brandingLogo{
            display:none;
        }

        .container-c{
            background-color:transparent !important;
            width: auto;
            height: 500px;
        }

        .container-2 {
            background-color: transparent !important;
            width: auto;
            height: 250px;
        }

        .pres{
            color:#136d38;
            font-size: 18px;
            margin-left:100px;
        }

        .pres1 {
            color: #136d38;
            font-size: 18px;
        }

        .lv1 {
            border-left: 1px solid #424242;
        }

        .lv2 {
            text-align: center;
        }

        @@media screen and (max-width: 800px){
            .container-c{
                width: 800px;
                opacity: 0.5;
            }

            .container-2 {
                width: 800px;
            }
            .pres{
                font-size:16px;
            }

            .pres1 {
                font-size: 16px;
            }
        }
    </style>
</head>
<body>
    <div class="main-container container-fluid" style="">
        <!-- PAGE-HEADER -->
        <div class="page-header page-header-fix my-2">
            <div>
                <a asp-controller="" asp-area="Home" asp-action="Index" style="padding-right: 20px; border-right: 1px solid #000;"><span class="header-title">Sơ Đồ Tổ Chức</span></a>
                <a asp-controller="" asp-area="@ConstArea.Dashboard" asp-action="Index" style="padding-left:20px; padding-right: 40px;"><span class="header-title">Bảng Thống Kê</span></a>
                
                <div class="rectangle">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </div>
            </div>
            <div class="d-flex px-2">
            </div>
        </div>
        <div id="chartDiv" class="container-c"></div>
        <div id="chartQ" class="container-2"></div>
       
    </div>


    <script type="text/javascript">
        /*
        Organizational chart with HTML annotations.
        Learn how to:

        - Create complex organizational charts.
        */
        // JS

        var type = 'organizational';
        function getWidth(x) {
            if (x.matches) { // If media query matches
                //type = 'organizationalright';
                type = 'organizational';
            } else {
                type = 'organizational';
            }
        }

        var x = window.matchMedia("(max-width: 800px)")
        getWidth(x) // Call listener function at run time
        x.addListener(getWidth) // Attach listener function on state changes

        var config = {
            type: type,
            defaultPoint: {
                outline_width: 0,
                connectorLine: { width: 1, color: '#e0e0e0' },
                annotation: {
                    asHTML: true,
                    label_text:
                        '<div class="department" style="border-bottom:5px solid %color;"><b>%position</b>%name%units</div>',
                },
            },
            defaultSeries_mouseTracking_enabled: false,
            series: [
                {
                    points: [
                        {
                            name: '<b></b>',
                            id: 'dhr',
                            attributes: {
                                position: 'Chủ Tịch HND TP<br>',
                                units: '',
                            },
                            label_style_fontSize: 18,
                            color: 'white',
                            annotation_label_text: '<div class="pres"><b>%position%name</b></div>'
                        },
                        {
                            name: '<b></b>',
                            id: 'lv1_1',
                            parent: 'dhr',
                            attributes: {
                                position: '',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#FFF',
                            annotation_label_text: '<div class="lv1"><b>%position%name</b></div>'
                        },
                        {
                            name: '',
                            id: 'rm1_',
                            parent: 'lv1_1',
                            attributes: {
                                position: 'Ban TCKT<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm2_',
                            parent: 'lv1_1',
                            attributes: {
                                position: 'Ban Tuyên Giáo<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '<b>HND TP</b>',
                            id: 'rm',
                            parent: 'dhr',
                            attributes: {
                                position: 'PCT Thường Trực',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#fda296',
                            annotation_label_text: '<div><b>%position</br>%name</b></div>',
                        },
                        {
                            name: '',
                            id: 'rm_',
                            parent: 'rm1_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>Trưởng Ban</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm100_',
                            parent: 'rm1_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>Phó Ban</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm_1',
                            parent: 'rm2_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>Trưởng Ban</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#aed581',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm_100',
                            parent: 'rm2_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>Phó Ban</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#aed581',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm3_1',
                            parent: 'rm',
                            attributes: {
                                position: 'Văn Phòng<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm3_1_1',
                            parent: 'rm3_1',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>Chánh VP</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm3_1_2',
                            parent: 'rm3_1',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>VP1</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm3_',
                            parent: 'rm',
                            attributes: {
                                position: 'Ban Kinh Tế-XH<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm3_11',
                            parent: 'rm3_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>Trưởng Ban</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm3_22',
                            parent: 'rm3_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>Phó Ban</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        
                        {
                            name: '<b>HND TP</b>',
                            id: 't',
                            parent: 'dhr',
                            attributes: {
                                position: 'PCT',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#fda296',
                            annotation_label_text: '<div><b>%position</br>%name</b></div>',
                        },
                        {
                            name: '',
                            id: 'rm4_',
                            parent: 't',
                            attributes: {
                                position: 'Trung Tâm DN & HTND<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 't_',
                            parent: 'rm4_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>GĐ</b></li></ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#80cbc4',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 't_11',
                            parent: 'rm4_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>Các PGĐ</b></li></ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#80cbc4',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm5_',
                            parent: 't',
                            attributes: {
                                position: 'Ban Điều Hành Qũy HTND<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 't_1',
                            parent: 'rm5_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>Phó Ban</b></li></ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#136d38',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                    ],
                },
            ],
        };

        config.series[0].points.forEach(function (point) {
            //point.attributes.units = point.attributes.units.replace(/<li>/g, '<li style="background-color: %color; color:#FFF;">');
            point.attributes.units = point.attributes.units.replace(/<li>/g, '<li style="background-color: #136d38; color:#FFF;">');
        });

        var chart = JSC.chart('chartDiv', config);
    </script>

    <script type="text/javascript">
        /*
        Organizational chart with HTML annotations.
        Learn how to:

        - Create complex organizational charts.
        */
        // JS

        var type = 'organizational';
        function getWidth(x) {
            if (x.matches) { // If media query matches
                type = 'organizational';
            } else {
                type = 'organizational';
            }
        }

        var x = window.matchMedia("(max-width: 800px)")
        getWidth(x) // Call listener function at run time
        x.addListener(getWidth) // Attach listener function on state changes

        var config = {
            type: type,
            defaultPoint: {
                outline_width: 0,
                connectorLine: { width: 1, color: '#e0e0e0' },
                annotation: {
                    asHTML: true,
                    label_text:
                        '<div class="department" style="border-bottom:5px solid %color;"><b>%position</b>%name%units</div>',
                },
            },
            defaultSeries_mouseTracking_enabled: false,
            series: [
                {
                    points: [
                        {
                            name: '<b></b>',
                            id: 'dhr',
                            attributes: {
                                position: 'HND TP HCM<br>',
                                units: '',
                            },
                            label_style_fontSize: 18,
                            color: 'white',
                            annotation_label_text: '<div class="pres1"><b>%position%name</b></div>'
                        },
                        {
                            name: '',
                            id: 'rm1_',
                            parent: 'dhr',
                            attributes: {
                                position: 'TP TĐỨC<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },

                        {
                            name: '',
                            id: 'rm2_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HCC<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },                          
                        {
                            name: '',
                            id: 'rm3_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HBC<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm4_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HM<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm5_',
                            parent: 'dhr',
                            attributes: {
                                position: 'NBÈ<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm6_',
                            parent: 'dhr',
                            attributes: {
                                position: 'CGIỜ<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm7_',
                            parent: 'dhr',
                            attributes: {
                                position: 'Q12<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm12_',
                            parent: 'dhr',
                            attributes: {
                                position: 'Tân Tạo A<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm8_',
                            parent: 'dhr',
                            attributes: {
                                position: 'Bình Hưng Hòa B<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm9_',
                            parent: 'dhr',
                            attributes: {
                                position: 'BTân<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm10_',
                            parent: 'dhr',
                            attributes: {
                                position: 'P.28<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm11_',
                            parent: 'dhr',
                            attributes: {
                                position: 'Q.Bình Thạnh<br>',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                    ],
                },
            ],
        };

        config.series[0].points.forEach(function (point) {
            //point.attributes.units = point.attributes.units.replace(/<li>/g, '<li style="background-color: %color; color:#FFF;">');
            point.attributes.units = point.attributes.units.replace(/<li>/g, '<li style="background-color: #136d38; color:#FFF;">');
        });

        var chart = JSC.chart('chartQ', config);
    </script>
</body>
</html>
