@model VayVonVM
<div class="row">
    <input asp-for="IDVayVon" hidden />
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="SoTienVay"></label><span class="text-red">*</span>
            <div class="input-group">
                <input type="text" asp-for="SoTienVay" class="form-control" data-type="currency">
                <div class="input-group-text">VNĐ</div>
            </div>
            <span asp-validation-for="SoTienVay" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ThoiHangChoVay"></label><span class="text-red">*</span>
            <div class="input-group">
                <input asp-for="ThoiHangChoVay" class="form-control">
                <div class="input-group-text"> Tháng</div>
            </div>
            <span asp-validation-for="ThoiHangChoVay" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="LaiSuatVay"></label><span class="text-red">*</span>
            <div class="input-group">
                <input asp-for="LaiSuatVay" type="number" step="1" class="form-control">
                <div class="input-group-text">%/Tháng</div>
            </div>
            <span asp-validation-for="LaiSuatVay" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="TuNgay"></label><span class="text-red">*</span>
            <input asp-for="TuNgay"class="form-control">
            <span asp-validation-for="TuNgay" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="DenNgay"></label><span class="text-red">*</span>
            <input asp-for="DenNgay" class="form-control">
            <span asp-validation-for="DenNgay" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="NgayTraNoCuoiCung"></label><span class="text-red">*</span>
            <input asp-for="NgayTraNoCuoiCung" class="form-control">
            <span asp-validation-for="NgayTraNoCuoiCung" class="text-danger"></span>
        </div>
    </div>
    @if (Model != null && Model.IDVayVon != null)
    {
        <div class="col-md-3 d-flex align-items-center">
            <fieldset>
                @Html.RadioButtonFor(p=>p.TraXong,true) @LanguageResource.TraXong
                @Html.RadioButtonFor(p=>p.TraXong,false) Chưa
            </fieldset>
        </div>
    }
    <div class="col-md-12">
        <label asp-for="NoiDungVay"></label> <span class="text-red">*</span>
        <textarea asp-for="NoiDungVay" rows="3" class="form-control"></textarea>
        <span asp-validation-for="NoiDungVay" class="text-danger"></span>
    </div>
    <div class="col-md-12">
        <label asp-for="GhiChu"></label>
        <textarea asp-for="GhiChu" rows="3" class="form-control"></textarea>
        <span asp-validation-for="GhiChu" class="text-danger"></span>
    </div>
    
</div>
