@model HoiNongDan.Models.AccountLoginViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sash – Bootstrap 5  Admin & Dashboard Template">


    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/Images/login.png" />

    <!-- TITLE -->
    <title>Đăng nhập</title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet"  />
    <link href="~/assets/css/dark-style.css" rel="stylesheet" />
    <link href="~/assets/css/transparent-style.css" rel="stylesheet">
    <link href="~/assets/css/skin-modes.css" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="~/assets/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/assets/colors/color1.css" />
    <style>
        .side-header {
            background-color: #0e344f;
        }

        body {
            margin: 0;
            font-family: "Segoe UI", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: #282f53;
            text-align: left;
            background-color: rgba(181,236,248,0.2);
            /*background-image:none;*/
        }
    </style>
</head>

<body class="app sidebar-mini ltr light-mode">

    <!-- BACKGROUND-IMAGE -->
    <div class="" style="">

        <!-- GLOABAL LOADER -->
        <div id="global-loader">
            <img src="~/assets/images/loader.svg" class="loader-img" alt="Loader">
        </div>
        <!-- /GLOABAL LOADER -->
        <!-- PAGE -->
        <div class="page">
            <div class="">

                <!-- CONTAINER OPEN -->
                <div class="col col-login mx-auto mt-7">
                    <div class="text-center">
                        <a href=""><img src="~/Images/login.png" style="width:100px;" class="header-brand-img" alt=""></a>

                    </div>
                    <div class="text-center login-title">PHẦN MỀM QUẢN LÝ HỘI VIÊN - CÁN BỘ </BR> HỘI NÔNG DÂN THÀNH PHỐ HỒ CHÍ MINH</div>
                </div>

                <div class="container-login100">

                    <div class="wrap-login100 p-6">
                        <form id="account" method="post" asp-antiforgery="true">
                           @Html.AntiForgeryToken()
                            <div class="wrap-input100 validate-input input-group">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>

                            <div class="wrap-input100 validate-input input-group">
                                <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                    <i class="fe fe-user" aria-hidden="true"></i>
                                </a>
                                <input class="input100 border-start-0 form-control ms-0" asp-for="UserName" type="text" placeholder="Tài khoản">

                            </div>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                            <div class="wrap-input100 input-group" id="Password-toggle">
                                <a href="#" class="input-group-text bg-white text-muted">
                                    <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
                                </a>
                                <input class="input100 border-start-0 form-control ms-0" asp-for="Password" type="text" placeholder="Mật khẩu">
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="form-group">
                                <label class="custom-checkbox">
                                    <input type="checkbox" asp-for="RememberMe" style="opacity:1;">
                                    <span class="custom-control-label">Nhớ mật khẩu</span>
                                </label>
                                <div class="text-end pt-2">
                                    <p class="mb-0"><a href="forgot-password.html" class="text-primary ms-1">Quên mật khẩu?</a></p>
                                </div>
                            </div>
                            
                            <div class="container-login100-form-btn">

                                <button id="login-submit" class="login100-form-btn" style="background-color:#0e344f">Đăng nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- CONTAINER CLOSED -->
            </div>
        </div>
        <!-- End PAGE -->

    </div>
    <!-- BACKGROUND-IMAGE CLOSED -->
    <!-- JQUERY JS -->
    <script src="~/assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- SHOW PASSWORD JS -->
    <script src="~/assets/js/show-password.min.js"></script>

    <!-- GENERATE OTP JS -->
    <script src="~/assets/js/generate-otp.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="~/assets/plugins/p-scroll/perfect-scrollbar.js"></script>

    <!-- Color Theme js -->
    @*<script src="~/assets/js/themeColors.js"></script>*@

    <!-- CUSTOM JS -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            document.getElementById('Password').type = 'password';
        });
    </script>
</body>

</html>