@using Portal.Models
@using Portal.Constant
<style>
    table th,
    table td {
        border: 1px solid #d9d9d9;
    }
</style>
<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header d-flex my-1">
        <div class="fs-16">
            <h2>Dashboard</h2>
        </div>
        <div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Số Lượng Cán Bộ Theo Cơ Sở Và Theo Phân Hệ</h3>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="chartBar2" class="chart-dropshadow chartjs-render-monitor" height="275" style="display: block; width: 701px; height: 275px;" width="701"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- COL END -->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Số Lượng Theo Phân Hệ</h3>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="chartDonut" class="h-275"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- COL END -->
    </div>
    <!-- /Row -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Thống Kê Trình Độ Theo Cơ Sở</h3>
                </div>
                <div class="card-body">
                    <table class="table border text-nowrap text-md-nowrap table-striped mb-0" id="file-datatable">
                        <thead>
                            <tr class="bor">
                                <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                    STT
                                </th>
                                <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                    Tên
                                </th>
                                <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                    Tổng Số
                                </th>
                                <th colspan="4" style="vertical-align : middle;text-align:center;">
                                    Trong Tổng Số
                                </th>
                                <th colspan="2" style="vertical-align : middle;text-align:center;">
                                    Học Hàm
                                </th>
                                <th colspan="6" style="vertical-align : middle;text-align:center;">
                                    Chia Theo Trình Độ Chuyên Môn
                                </th>
                            </tr>
                            <tr>
                                <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                    Nữ
                                </th>
                                <th colspan="2" style="vertical-align : middle;text-align:center;">
                                    Người Dân Tộc
                                </th>
                                <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                    Đảng Viên
                                </th>
                                <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                    Giáo Sư
                                </th>
                                <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                    P. Giáo Sư
                                </th>
                                <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                    Tiến Sĩ
                                </th>
                                <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                    Thạc Sĩ
                                </th>
                                <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                    Đại Học
                                </th>
                                <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                    Cao Đẳng
                                </th>
                                <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                    TCCN
                                </th>
                                <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                    Trình Độ Khác
                                </th>
                            </tr>
                            <tr>
                                <th style="vertical-align : middle;text-align:center;">
                                    Tổng số
                                </th> 
                                <th style="vertical-align : middle;text-align:center;">
                                    Trong Đó Nữ
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Hồ Chí Minh</td>
                                <td>137</td>
                                <td>47</td>
                                 <td>23</td>
                                 <td>10</td>
                                 <td>100</td>
                                 <td>2</td>
                                 <td>5</td>
                                 <td>7</td>
                                 <td>3</td>
                                 <td>98</td>
                                 <td>28</td>
                                 <td>18</td>
                                 <td>3</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Long An</td>
                                <td>100</td>
                                <td>31</td>
                                <td>10</td>
                                <td>2</td>
                                <td>5</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>45</td>
                                <td>28</td>
                                <td>12</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Bình Dương</td>
                                <td>35</td>
                                <td>12</td>
                                <td>5</td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>23</td>
                                <td>4</td>
                                <td>7</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Đồng Nai</td>
                                <td>45</td>
                                <td>31</td>
                                <td>10</td>
                                <td>2</td>
                                <td>5</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>30</td>
                                <td>7</td>
                                <td>6</td>
                                <td>2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- CONTAINER CLOSED -->
<!-- CHARTJS JS -->
@section Scripts{
    <script src="~/assets/plugins/chart/Chart.bundle.js"></script>
    <script src="~/assets/plugins/charts-c3/d3.v5.min.js"></script>
    <script src="~/assets/plugins/charts-c3/c3-chart.js"></script>
    <script src="~/js/dashboard.js"></script>
 }