@model HoiVienHoTroVM
<div class="row">
    <input asp-for="ID" hidden />
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="IDLopHoc"></label><span class="text-red">*</span>
            <select asp-for="IDLopHoc" asp-items="@ViewBag.IDLopHoc" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="IDLopHoc" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <label asp-for="NoiDung"></label> <span class="text-red">*</span>
        <textarea asp-for="NoiDung" rows="3" class="form-control"></textarea>
        <span asp-validation-for="NoiDung" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="GhiChu"></label>
        <textarea asp-for="GhiChu" rows="3" class="form-control"></textarea>
        <span asp-validation-for="GhiChu" class="text-danger"></span>
    </div>
    
</div>
