
.nav.panel-tabs.panel-success a {
    color: #136d38;
}

    .nav.panel-tabs.panel-success a.active {
        background-color: #136d38 !important;
        color: #fff;
    }

.splitter {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}

.splitter-head {
    overflow: hidden;
    text-align: left;
    font-weight: bold;
    color: #003399;
    cursor: pointer;
}

    .splitter-head:after {
    }

    .splitter-head::before {
        content: "";
        display: inline-block;
        position: relative;
        vertical-align: baseline;
        border-bottom: 0px dashed #003399;
        line-height: 0.1em;
    }

    .splitter-head:after {
        left: 0.5em;
        margin-right: -50%;
        width: 100%;
        content: "";
        display: inline-block;
        position: relative;
        vertical-align: baseline;
        border-bottom: 0px dashed #003399;
        line-height: 0.1em;
        font-family: "FontAwesome";
        font-weight: 900;
        content: "\f0da";
        color: #c60000;
    }

.splitter-body {
    padding: 10px;
    height: 0px;
    transition: all .1s ease-in-out;
    width: 100%;
    visibility: hidden;
}

    .splitter-body.splitter-toggle {
        height: 100%;
        transition: all .2s ease-in-out;
        visibility: visible;
        /*animation: fade_in_show 2s inherit*/
    }

    .splitter-body p {
        text-align: justify;
    }
/*tab-custom chỉnh tab*/
.tab-custom {
    width: auto;
    height: auto;
}

    .tab-custom button {
        display: inline;
        background-color: inherit;
        color: black;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
    }

    .tab-custom > ul > li {
        line-height: 30px;
    }

.header-title {
    color: rgb(31, 41, 57);
    font-weight: 600;
    line-height: 34px;
    font-size: 22px
}

.header-sticky {
    position: fixed;
    right: 20px;
    z-index: 100;
}

.rectangle {
    display: flex;
}

    .rectangle > span {
        display: inline-block;
        width: 30%;
        height: 5px;
        border-radius: 8px;
    }

        .rectangle > span:nth-child(1) {
            background: #1569B2;
        }

        .rectangle > span:nth-child(2) {
            background: #F27228;
            margin: 0 1px;
        }

        .rectangle > span:nth-child(3) {
            background: #24B24B;
        }

.main-footer1 {
    background-color: #fff;
    border-top: 1px solid #e6eaea;
    position: relative;
}

.backgroundImg {
    background: url('../Images/1538363015991upload_00002612.png') no-repeat;
    height: 100px;
    background-size: 100%;
    position: inherit;
}

.header-info {
    position: absolute;
    left: 10px;
}

.footer-info {
    position: absolute;
    left: 10px;
}

.footer-logo {
    position: absolute;
    right: 70px;
}

.hnd-title {
    float: left;
    width: 100%;
    margin: 2% 0px 0px 11%;
    font-size: 21px;
    color: white;
    font-weight: bold;
}

.hdnd-inform {
    float: left;
    width: 100%;
    margin: 10px 0px 0px 11%;
    color: white;
    font-size: 16px;
}

main-footer1 {
    background-color: #fff;
    border-top: 1px solid #e6eaea;
    position: relative;
    max-height: 200px;
}

p, a, span, div {
    /*font-size: 1em !important;
                           color: #000 !important;
    font-family: wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;*/
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 14px;
}

.main-sidemenu > span {
    font-size: 16px;
}

#avtImg {
    vertical-align: middle;
    width: 140px;
    height: 140px;
    border-radius: 10px;
}

.border-top {
    border-top: 4px dotted blue;
}

#banner-cs {
    background: url("/Images/banner.png");
    background-repeat: round;
    background-size: cover;
    height: 100px;
    background-color: white;
    width: 100%;
}

.side-app {
    /* top:150px; */
    position: relative;
    z-index: 1;
}

.app-header, .app-sidebar {
    top: 0px;
}

.side-header-title {
    display: none;
}

.header-brand-img.desktop-logo {
    display: block !important;
}

.sidenav-toggled .side-header-title {
    opacity: 0;
}

.sidenav-toggled.sidenav-toggled-open .header-brand-img.desktop-logo {
    width: 60px;
    height: 60px;
}

.dark-menu.dark-header .header-brand-img.desktop-logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 5px;
}

.sidenav-toggled.sidenav-toggled-open .side-header-title {
    opacity: 1;
}

.tr2 {
    background-color: #dff0d8;
}

.tr4 {
    background-color: #f2dede;
}

.tr3 {
    background-color: #fcf8e3;
}

.tr1 {
    background-color: white;
}

.ui-grid-menu-button .ui-grid-icon-container {
    margin: 5px;
}

.ui-grid {
    font-size: 13px;
}

.ui-grid-menu-button {
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #f3f3f3;
    border: 0;
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    cursor: pointer;
    height: 30px;
    font-weight: normal;
}

.ui-grid-menu {
    overflow: hidden;
    max-width: 320px;
    z-index: 2;
    position: absolute;
    right: 100%;
    padding: 0 10px 20px 10px;
    cursor: pointer;
    box-sizing: border-box;
}

    .ui-grid-menu.show {
        display: none;
    }

    .ui-grid-menu .ui-grid-menu-inner {
        background: #fff;
        border: 1px solid #d4d4d4;
        position: relative;
        white-space: nowrap;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
    max-height: 360px;
    overflow: scroll;
    scrollbar-width: thin;
}

.ui-grid-menu-button .ui-grid-menu {
    right: 0;
}

.ui-grid-menu .ui-grid-menu-inner ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ui-grid-menu .ui-grid-menu-inner ul li {
        padding: 0;

}

        .ui-grid-menu .ui-grid-menu-inner ul li:not(:last-child) > .ui-grid-menu-item {
            border-bottom: 1px solid #d4d4d4;
        }

        .ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item {
            cursor: pointer;
        }

    .ui-grid-menu .ui-grid-menu-inner ul li .ui-grid-menu-item {
        color: #000;
        min-width: 100%;
        padding: 8px;
        text-align: left;
        background: transparent;
        border: none;
        cursor: default;
        text-overflow: clip;
        word-break: break-all;
    }

        .ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item:hover, .ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item:focus {
            background-color: #b3c4c7;
        }

.ui-grid-menu-mid::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

.ui-grid-menu-mid::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.ui-grid-menu-mid::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.swal2-container {
    z-index: 300000 !important;
}