@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <!-- BOOTSTRAP CSS -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--- FONT-ICONS CSS -->
    <link href="~/assets/css/icons.css" rel="stylesheet" />
    <title>Tra cứu thông tin hội viên</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .main {
            position: relative;
            top: 10%;
            width: 100%;
            height: 100%;
            max-height: 100vh;
        }

        .header {
            position: relative;
            top: 0px;
            height: 100px;
            width: 100%
        }

        

        .footer1 {
            position: relative;
            bottom: 10%;
            height: 100px;
            width: 100%;
        }
        .content {
            background: #c7c5bd;
            width: 90%;
            max-width: 1060px;
            min-height: 70vh;
            margin: 2em auto;
            padding: 1.250em;
            border-radius: 0.313em;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
            line-height: 1.5em;
            color: #292929;
        }

        
            #search{
                margin-top:5px;
                height:35px;
                display:flex;
                justify-content:center;
                align-items:center;
            }

        #search input[type='text']{
            height:38px;
            border :solid 1px;
            border-radius:5px;
            margin-left:5px;
        }

            #search button{
                height: 25px;
                width:50px;
                border: solid 1px;
                border-radius: 5px;
                background: #0e344f;
                color:white;
                cursor:pointer;
            }

        .form-select-width{
            width:200px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="header backgroundImg" style="display:flex;justify-content:center;">
             <img src="~/Images/logo-while.png" style="object-fit:cover" class="header-brand-img" alt="">
        </div>
        <div id="search">
            <a class="side-menu__item" asp-controller="" asp-area="Home" asp-action="Index">
                <i class="fe fe-home" style="color:#0e344f"><span class="side-menu__label"> Trang Chủ </span> </i>
            </a>
            <div style="width:500px; border :solid 1px; border-radius:5px;">
                @Html.DropDownList("MaDiaBanHoatDong", null, "Vui lòng chọn hội nông dân bạn đang tham gia", new { @class = "form-control select2-show-search form-select" })
            </div>
            <input type="text" placeholder="Nhập mã hội viên" id="txt-mahoivien" style="margin-right:5px;"/>
            <button id="btnxemthongtin">Xem</button>
       </div>
        <div class="content">
            <div id="thongtinhoivien">

            </div>
        </div>
        <div class="footer1">
            <div class="backgroundImg">
                <span id="year" style="display:none">2023</span>
                <div class="footer-info">
                    <span class="hnd-title">Cơ quan chủ quản: Hội Nông Dân Thành Phố Hồ Chí Minh</span>
                    <span class="hdnd-inform">Địa chỉ: 271/1 Nguyễn Trọng Tuyển, Phường 10, Quận Phú Nhuận, TP.HCM </span>
                </div>
                <div b-ovqu4dfemr="" class="footer-logo">
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script src="~/assets/js/jquery.min.js"></script>
<!-- SELECT2 JS -->
<script src="~/assets/plugins/select2/select2.full.min.js"></script>
<script src="~/assets/js/select2.js"></script>
<script src="~/assets/plugins/multipleselect/multiple-select.js"></script>
<script src="~/assets/plugins/multipleselect/multi-select.js"></script>

<script>
   var xenthongtin = $("#btnxemthongtin");
    xenthongtin.on('click', function () { 
        var data = {};
        let diaban = $("#MaDiaBanHoatDong").val();
        let mahoivien = $("#txt-mahoivien").val();
        if (!diaban || !mahoivien)
        {
            alert("Vui lòng nhập mã hội viên và hội nông dân bạn đang tham gia");
            return;
        }
        data.MaHoiVien = mahoivien;
        data.MaDiaBanHoatDong = diaban;

        $.ajax({
            type: "get",
            url: "/HoiVien/HoiVien/_XemThongTin",
            data: data,
            success: function (xhr, status, error) {
                if (xhr.Code == 500 || xhr.Success == false) {

                }
                else if (xhr.indexOf("from-login-error") > 0) {
                    alert('Hết thời gian thao tác xin đăng nhập lại');
                  
                }
                else {
                    $("#thongtinhoivien").html(xhr);
                }
            },
            error: function (xhr, status, error) {
                //$("#" + $btn[0].id + " i").toggleClass("d-none")
                //// hiện loading lên
                //$("#" + $btn[0].id + " span").toggleClass("d-none")
                //// disabled button
                //$("#" + $btn[0].id).toggleClass("disabled");
                alert("Không tìm thấy thông tin mã đang chọn");
            }
        });
    });
</script>
