@using HoiNongDan.Resources
@model NhanSuThongTinVM
<input name="NhanSu.IdCanbo" hidden asp-for="IdCanbo" />
<input name="NhanSu.MaCanBo" hidden asp-for="MaCanBo" />
<input name="NhanSu.HoVaTen" hidden asp-for="HoVaTen" />
<input name="NhanSu.ChucVu" hidden asp-for="ChucVu" />
<input name="NhanSu.NgaySinh" hidden asp-for="NgaySinh" />
<input name="NhanSu.ChuyenNganh" hidden asp-for="ChuyenNganh" />

<div class="col-md-2">
    <div class="form-group">
        <label asp-for="MaCanBo"></label><span class="text-red">*</span>
        <div class="input-group">
            <input type="text" asp-for="MaCanBo" id="txt-MaCanBo" class="form-control">
            @if (Model.Edit)
            {
                <button type="button" class="btn btn-primary" id="btn-search-nhansu" data-canbo="@Model.CanBo">
                    <i class="bi bi-search"></i>
                </button>
                @* <a href="javascript:void(0)" class="btn btn-sm btn-default btn-hoivien-modal" style="margin-left:5px;background-color:#0e344f"> <img src="/Images/users-add.png"></a> *@
            }
        </div>
        <span asp-validation-for="MaCanBo" class="text-danger"></span>
    </div>
</div>
<div class="col-md-2">
    <div class="form-group">
        <label asp-for="HoVaTen"></label>
        <input type="text" asp-for="HoVaTen" class="form-control" readonly>
    </div>
</div>
<div class="col-md-2">
    <div class="form-group">
        <label asp-for="TenDonVi"></label>
        <input type="text" asp-for="TenDonVi" class="form-control" readonly>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label asp-for="ChucVu"></label>
        <input type="text" asp-for="ChucVu" class="form-control" readonly>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label asp-for="ChuyenNganh"></label>
        <input type="text" asp-for="ChuyenNganh" class="form-control" readonly>
    </div>
</div>

<script>
    if ("@Model.Error" != "")
    {
        toastr.error("@Model.Error");
    }
</script>